[Unit]
Description=TuxedoCat Lounge BBS redirector message
After=network.target

[Service]
ExecStart=/usr/local/bin/tuxedocat-redirect.sh
StandardOutput=socket
StandardError=journal
